body {
  background-color: #222;
  font-family: monospace;
}

h1, h2, h3, h4, h5, label, b {
  font-family: monospace;
  color: #1aa57e;
}

body a, body a:hover {
  color: #1aa57e;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 12px;
}

.prettyprint {
  background-color: #000;
}

.navbar {
  border-top: 3px solid #2ABAD0;
}

.navbar-inverse .navbar-brand:hover {
  color: #1aa57e;
}

.brand-small {
  float: right;
  font-size: 11px;
  line-height: 25px;
}

.navbar-inverse,
.navbar-inverse {
  color: #222;
}

.btn-primary {
  color: #2ABAD0;
  background-color: #000;
  border-color: #1aa57e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #2ABAD0;
  background-color: #222222;
  border-color: #1aa57e;
}

.well {
  background-color: #000;
}

.form-control {
  background-color: #2c2c2c;
  color: #2ABAD0;
}

.breadcrumb {
  background-color: #000;
}

.breadcrumb > li + li:before {
  color: #ccc;
}

.breadcrumb li.active a {
  color: #2ABAD0;
}

.pln {
  font-size: 15px;
  color: #1aa57e;
}

.kwd {
  color: #A7194E;
}

.str, .atv {
  color: #7b62b6;
}

.pun {
  color: #1aa57e;
}

.lit {
  color: #2ABAD0;
}