:root {
  --primary-dark: #040D12;
  --primary-light: #93B1A6;
  --secondary-dark: #183D3D;
  --secondary-light: #5C8374;
  --secondary-dark-opacity: #082323;
}

body {
  background-color: var(--primary-dark);
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, label, b {
  font-family: inherit;
  color: #1aa57e;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 12px;
}

.prettyprint {
  background-color: #000;
}

.navbar {
  border-top: 3px solid var(--primary-light);
  background-color: var(--secondary-dark);
}

.navbar-inverse .navbar-brand:hover {
  color: var(--primary-light);
}

.breadcrumb {
  background-color: var(--secondary-dark-opacity) !important;
  font-weight: 500;
}

.breadcrumb a {
  color: var(--primary-light) !important;
}

.btn-primary {
  color: var(--primary-light);
  font-weight: bold;
  background-color: var(--secondary-dark);
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: var(--primary-light);
  background-color: var(--secondary-dark-opacity) !important;
}

.dropdown-menu {
  background-color: var(--secondary-dark-opacity);
}

.dropdown-menu li a {
  color: var(--primary-light) !important;
}

.dropdown-menu li a:hover {
  background-color: var(--secondary-dark);
}

.well {
  background-color: #000;
}

.form-control {
  background-color: #2c2c2c;
  color: #2ABAD0;
}

.breadcrumb {
  background-color: #000;
}

.breadcrumb > li + li:before {
  color: #ccc;
}

.breadcrumb li.active a {
  color: #2ABAD0;
}

.pln {
  font-size: 15px;
  color: #1aa57e;
}

.kwd {
  color: #A7194E;
}

.str, .atv {
  color: #7b62b6;
}

.pun {
  color: #1aa57e;
}

.lit {
  color: #2ABAD0;
}